---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - postslist
    - artikel
    - blog
    - video
    - galeri
    - profil
    - tagList
permalink: /tags/{{ tag | urlencode }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag | urlencode }}”"
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg" alt="Dunia Malam Header Logo">
<div  class="main-blok">
    <div class="wrapper">
        <h1>Tagged “{{ tag }}”</h1>

        {% set postslist = collections[ tag ] %}
        {% include "components/tagslist.njk" %}
    </div>
</div>