---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - postslist
    - artikel
    - blog
    - video
    - galeri
    - galery
    - profil
    - tagList
    - galerid
    - blogd
    - videos
    - catList
    - artikeld
permalink: /tags/{{ tag | urlencode }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---
<div class="b-content post"></div>
<div  class="main-blok">
    <div class="wrapper">
        <h1>Tagged “{{ tag }}”</h1>

        {% set postslist = collections[ tag ] %}
        {% include "components/tagslist.njk" %}
    </div>
</div>