---
layout: layouts/base.njk
pagination:
  data: collections.videos
  size: 24
  reverse: true
  alias: entries
permalink: /video/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
title: DuniaMalam88.com | Galeri Video
description: DuniaMalam88.com | Halaman Video menyediakan berbagai video khusus seputar wisata, kuliner,  dj, venue, diskotik, bar, cafe di Indonesia dan negara Asia sekitarnya
---
<div class="b-content post joker"></div>
<div  class="main-blok">
    <div class="wrapper">
	{% include "components/search.njk" %}
        <h1>{{ title }}</h1>
       
{% set semua = ['blog','artikel','profil','galeri','posts','post','video'] %}
{% set bukan = ['artikel','galeri','profil','posts','post'] %}
{% set iya = ['video'] %}
<article class="row" aria-label="Blog Dunia Malam">
	{% for post in entries %}
	<!--
		{% if post.data.tags %}
			{% for tag in post.data.tags %}
				{% if tag in iya %}
				-->
					<section aria-label="{{ post.data.title }}" class="gallery">
					<!-- <article{% if post.url == url %} data-current="current item"{% endif %} class="gallery"> -->
						<a href="{{ post.url | url }}">	
							{% if post.data.thumbnail %}
								<img  src="{{ url }}{{ post.data.thumbnail }}" alt="thumbnail">
							{% else %}
								<img  src="{{ '/' | url }}static/img/no-image.png" alt="thumbnail">
							{% endif %}						
							<div class="listgalery">						

								<h2>								
										{% if post.data.title %}								
											{{ post.data.title }}
										{% else %}
											Untitled
										{% endif %}								
								</h2>
								{% if post.data.description %}
									<p class="summ">
										{{ post.data.description }}
									</p>
								{% endif %}
								<p class="meta-entry">
									<time datetime="{{ post.date | machineDate }}">
											<span class="post-date">                    
												{{ post.date | readableDate }}
											</span>
									</time>
									<span class="author">
											by <strong>{{ author.name }}</strong>
									</span>
									
								</p>
							</div>
						</a>
					<!-- </article> -->
					</section>
					<!--
				{%- endif -%}
			{% endfor %}
		{% endif %}
		-->
	{% endfor %}
</article>
    </div>
	<div class="halaman">
		{% set halUrl %}/video/{% endset %}
		<a href="{{ halUrl }}">1</a>
		{% set counter = 0 %}
		{% for counter in range(0, 0) %}
			{% set counter = counter + 1 %}
			{% set halUrl %}/video/{{ counter }}/{% endset %}
			<a href="{{ halUrl | url }}">{{ counter + 1 }}</a>
		{% endfor %}
	</div>
</div>
