backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# Uncomment below to enable drafts
# publish_mode: editorial_workflow

media_folder: "images/uploads" # Media files will be stored in the repo under images/uploads
public_folder: "/images/uploads"
logo_url: https://duniamalam88.com/static/img/logo3.png

collections:
  # Our blog posts
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "blogd" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Modified Date", name: "modified_date", widget: "datetime" }
      - { label: "Description/Summary", name: "description", widget: "text" }
      - { label: "Category", name: "category", widget: "select", multiple: true, options: ["Artikel","Blog","Galeri","Video"], default: ["Blog"] }      
      - { label: "Tags", name: "tags", widget: "list", default: ["blog"] }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" } 

   # Our tips posts
  - name: "tips" # Used in routes, e.g., /admin/collections/blog
    label: "Tips" # Used in the UI
    folder: "tipsd" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Modified Date", name: "modified_date", widget: "datetime" }
      - { label: "Description/Summary", name: "description", widget: "text" }
      - { label: "Category", name: "category", widget: "select", multiple: true, options: ["Artikel","Blog","Galeri", "Tips","Video"], default: ["Tips"] }      
      - { label: "Tags", name: "tags", widget: "list", default: ["tips"] }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" } 

  # Our artikel posts
  - name: "artikel" # Used in routes, e.g., /admin/collections/blog
    label: "Artikel" # Used in the UI
    folder: "artikeld" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Modified Date", name: "modified_date", widget: "datetime" }
      - { label: "Description/Summary", name: "description", widget: "text" }
      - { label: "Category", name: "category", widget: "select", multiple: true, options: ["Artikel","Blog","Galeri","Tips","Video"], default: ["Artikel"] }      
      - { label: "Tags", name: "tags", widget: "list", default: ["artikel"] }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" } 


  # Our galeri posts
  - name: "galeri" # Used in routes, e.g., /admin/collections/blog
    label: "Galeri" # Used in the UI
    folder: "galerid" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Modified Date", name: "modified_date", widget: "datetime" }
      - { label: "Description/Summary", name: "description", widget: "text" }
      - { label: "Category", name: "category", widget: "select", multiple: true, options: ["Artikel","Blog","Galeri","Tips","Video"], default: ["Galeri"] }      
      - { label: "Tags", name: "tags", widget: "list", default: ["galeri"] }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" } 

# Our galeri posts
  - name: "video" # Used in routes, e.g., /admin/collections/blog
    label: "Video" # Used in the UI
    folder: "videos" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Modified Date", name: "modified_date", widget: "datetime" }
      - { label: "Description/Summary", name: "description", widget: "text" }
      - { label: "Category", name: "category", widget: "select", multiple: true, options: ["Artikel","Blog","Galeri","TIps","Video"], default: ["Video"] }      
      - { label: "Tags", name: "tags", widget: "list", default: ["video"] }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" } 

# Our pages e.g. About
  - name: "pages"
    label: "Page"
    folder: "pages"
    create: false # Change to true to allow editors to create new pages
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Layout", name: "layout", widget: "string", default: "layouts/home"}
      - { label: "Publish Date", name: "date", widget: "datetime"}
      - { label: "Modified Date", name: "modified_date", widget: "datetime"}
      - { label: "Description/Summary", name: "description", widget: "text" , required: false}
      - { label: "Permalink", name: "permalink", widget: "string" }
      - { label: "Navigation Title", name: "navtitle", widget: "string" }
      - { label: "Tags", name: "tags", widget: "hidden", default: "nav" }
      - { label: "Keywords", name: "keywords", widget: "list", default: ["dunia malam"] }
      - { label: "Article Image", name: "article_image", widget: "image" , required: false}
      - { label: "Featured/Thumbnail", name: "thumbnail", widget: "image", required: false}
      - { label: "Body", name: "body", widget: "markdown" , required: false}