{% set semua = ['blog','artikel','profil','galeri','posts','post'] %}
{% set bukan = ['blog','profil','galeri','posts','post'] %}
{% set iya = ['artikel'] %}
<article class="row" role="contentinfo" aria-label="Artikel tentang Dunia Malam">
	{% for post in articleslist | reverse %}
		{% if post.data.tags %}
			{% for tag in post.data.tags %}
				{% if tag in iya %}
					<section aria-label="{{ title }}" class="gallery">
					<a href="{{ post.url | url }}">
							{% if post.data.thumbnail %}
								<img class="artimg" src="{{ url }}{{ post.data.thumbnail }}" alt="thumbnail">
								{% else %}
									<img class="artimg" src="{{ '/' | url }}static/img/no-image.png" alt="thumbnail">
							{% endif %}						
							<div class="listgalery">						
								<h2>
										{% if post.data.title %}								
											{{ post.data.title }}
										{% else %}
											Untitled
										{% endif %}
									
								</h2>
								{% if post.data.description %}
									<p class="summ">
										{{ post.data.description }}
									</p>
								{% endif %}
								<p class="meta-entry">
									<time datetime="{{ post.date | machineDate }}">
											<span class="post-date">                    
												{{ post.date | readableDate }}
											</span>
									</time>
									<span class="author">
											by <strong>{{ metadata.author.name }}</strong>
									</span>
									
								</p>
							</div>
						</a>
					</section>
				{%- endif -%}
			{% endfor %}
		{% endif %}
	{% endfor %}
</article>