{% set galeryslist = collections.galeri %} 
<h3>GALERI TERBARU</h3>
{% set a = 0 %}     
{% for post in galeryslist | reverse %}
	{% if a < 6 %}
        {%set a = a + 1 %}
		<aside {% if post.url == url %} data-current="current item"{% endif %} class="thumb-gallery">
			<a href="{{ post.url | url }}">
				{% if post.data.thumbnail %}
					<img  src="{{ url }}{{ post.data.thumbnail }}" alt="thumbnail">
					{% else %}
						<img src="{{ '/' | url }}static/img/no-image.png" alt="thumbnail">
				{% endif %}		
			</a>
			</aside>
	{% endif %}
{% endfor %}                 
