{% set galeryslist = collections.videos %} 
<h3>VIDEO TERBARU</h3>
{% set a = 0 %}     
{% for post in galeryslist | reverse %}
	{% if a < 6 %}
        {%set a = a + 1 %}
		<aside {% if post.url == url %} data-current="current item"{% endif %} class="thumb-gallery">
			<a href="{{ post.url | url }}">
				{% if post.data.thumbnail %}
					<img  src="{{ url }}{{ post.data.thumbnail }}" alt="post.data.title">
					{% else %}
						<img src="{{ '/' | url }}static/img/no-image.png" alt="thumbnails">
				{% endif %}		
			</a>
		</aside>
	{% endif %}
{% endfor %}                 
<div class="promo">
	<a href="https://www.qq88pro.com/" rel="nofollow noreferrer" target="_blank">
		<img src="{{ '/' | url }}static/img/qq88pro.gif" alt="QQ88Pro - Promosi Welcome Bonus 100%" >
	</a>
</div>
<div class="promo">
	<a href="https://www.jokerdewa.com/" rel="nofollow noreferrer" target="_blank">
		<img src="{{ '/' | url }}static/img/jokerdewa.jpg" alt="JokerDewa - Situs Poker Games Online" >
	</a>
</div>
<div class="promo">
	<a href="https://www.indoprofile.com/" rel="nofollow noreferrer" target="_blank">
		<img src="{{ '/' | url }}static/img/e-sports.gif" alt="IndoProfile.com - Situs E-Sports Indonesia" >
	</a>
</div>
