<div class="main-left">
	<div class="row">
		<div class="left-promo">
			<a href="https://www.jokerdewa.com/" rel="nofollow noreferrer" target="_blank">
				<img src="{{ '/' | url }}static/img/jokerdewa.jpg" alt="JokerDewa - Situs Poker Games Online" >
			</a>
		</div>
			<div class="left-promo">
			<a href="https://www.indoprofile.com/" rel="nofollow noreferrer" target="_blank">
				<img src="https://res.cloudinary.com/kodai/image/upload/v1566546806/dm/e-sports.gif" alt="IndoProfile.com - Situs E-Sports Indonesia" >
			</a>
		</div>  
	</div>
</div>  
<div class="main-right">          
	<div class="promo">
		<a href="https://www.qq88pro.com/" rel="nofollow noreferrer" target="_blank">
			<img src="https://res.cloudinary.com/kodai/image/upload/v1566545043/dm/qq88pro.gif" alt="QQ88Pro - Situs QQ Slot Welcome Cashback 100 Terbaru 2019" >
		</a>
	</div>
</div>