
<footer>
      <div class="wrapper">
            <small>
                  &copy; Copyright 2019 <a href="{{ site.url }}">{{ site.name }}</a>.
            </small>

            <a class="btn-share" href="{{ url }}/feed.xml" aria-label="subscribe" rel="nofollow" target="_blank" title="Dunia Malam Feeds">
                  <svg fill="currentColor" role="img" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/' | url }}static/img/icon-library.svg#icon-subscribe"></use>
                  </svg>
            </a>
      </div>
</footer>


<!--Back-To-Top-->
<div id="back-to-top" class="">
	<span class="back-to-top-icon">&nbsp;</span> 
	<span class="back-to-top-text">Back To Top</span>
	<span id="back-to-top-Trigger">&nbsp;</span>
</div>
