
<footer>
      <div class="wrapper">
            <small>
                   &copy; Copyright 2019 <a href="{{ metadata.url }}">{{ metadata.site_name }}</a>.
            </small>
      </div>
</footer>


<!--Back-To-Top-->
<div id="back-to-top" class="">
	<span class="back-to-top-icon">&nbsp;</span> 
	<span class="back-to-top-text">Back To Top</span>
	<span id="back-to-top-Trigger">&nbsp;</span>
</div>
<script>

var oldScrollTop = 0;
if ($('#back-to-top').length) {
    var scrollTrigger = 200, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if ((scrollTop < oldScrollTop) && scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
    backToTop();
    $(window).on('scroll', function () {
        backToTop();
        oldScrollTop = $(window).scrollTop();
    });
    $('#back-to-top-Trigger').on('click', function (e) {
        e.preventDefault();
        $('html,body').animate({
            scrollTop: 0
        }, 700);
    });
}
</script>