<div class="iklan">
    <div class="wrapper">
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/3.jpg" alt="banner-space">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.jpg" alt="banner-space">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/5.jpg" alt="banner-space">
        </div>
         <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/6.jpg" alt="banner-space">
        </div>
    </div>
</div>