<div class="iklan">
    <div class="wrapper">
        <div class="box-iklan">
            <a href="https://www.duniamalam88.com/contact/" rel="nofollow noreferrer" target="_blank">
                <img  src="{{ '/' | url }}static/img/3.jpg" alt="banner-space">
            </a>
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/4.jpg" alt="banner-space">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/5.jpg" alt="banner-space">
        </div>
        <div class="box-iklan">
                <img  src="{{ '/' | url }}static/img/6.jpg" alt="banner-space">
        </div>
    </div>
</div>