<section class="footer-site-map">
     <div class="wrapper"> 
          {% set postslist = collections.blog %}
          {% set articleslist = collections.artikel %} 
          {% set galeryslist = collections.galeri %} 
          <div class="site-map-group">               
               <label class="site-map-group-title" for="site-map-group-four">
                    <a hreff""><h3>BLOG TERBARU</a></h3>
               </label>
               <ul class="site-map-group-list">  
               {% set a = 0 %}
               {% for post in postslist | reverse %}
                    {% if a < 6 %}
                    {%set a = a + 1 %}
                    <li {% if post.url == url %} data-current="current item"{% endif %}  class="site-map-group-item">
                         <h2>
                              <a href="{{ post.url | url }}">
                                   {% if post.data.title %}                                             	
                                        {{ post.data.title }}
                                   {% else %}
                                        Untitled
                                   {% endif %}
                              </a>
                         </h2>
                         <p class="meta-entry">
                              <time datetime="{{ post.date | machineDate }}">
                                   <span class="post-date">                    
                                        {{ post.date | readableDate }}
                                   </span>
                              </time>
                              <span class="author">
                                   by <strong>{{ metadata.author.name }}</strong>
                              </span>
                         </p>
                    </li>
                    {%endif%}
               {% endfor %}
               </ul>
          </div>


          <div class="site-map-group">
               <label class="site-map-group-title" for="site-map-group-four">
                    <h3>ARTIKEL TERBARU</a></h3>
               </label>      
               <ul class="site-map-group-list">         
               {% set b = 0 %}             
               {% for post in articleslist | reverse %}
                    {% if b < 6 %}
                    {%set b = b + 1 %}
                     
                         <li {% if post.url == url %} data-current="current item"{% endif %}  class="site-map-group-item">
                              <h2>
                                   <a href="{{ post.url | url }}">
                                        {% if post.data.title %}                                             	
                                             {{ post.data.title }}
                                        {% else %}
                                             Untitled
                                        {% endif %}
                                   </a>
                              </h2>	
                              <p class="meta-entry">
                                   <time datetime="{{ post.date | machineDate }}">
                                        <span class="post-date">                    
                                             {{ post.date | readableDate }}
                                        </span>
                                   </time>
                                   <span class="author">
                                        by <strong>{{ metadata.author.name }}</strong>
                                   </span>
                              </p>
                         </li>                    
                    {%endif%}
               {% endfor %} 
               </ul>                   
          </div>
          <div class="site-map-group">
               <label class="site-map-group-title" for="site-map-group-four">
                    <a hreff""><h3>GALERI TERBARU</a></h3>
               </label>  
                <ul class="site-map-group-list">  
               {% set c = 0 %}            
               {% for post in galeryslist | reverse %}
                    {% if c < 6 %}
                    {%set c = c + 1 %}
                    <li {% if post.url == url %} data-current="current item"{% endif %}  class="site-map-group-item">
                         <h2>
                              <a href="{{ post.url | url }}">
                                   {% if post.data.title %}                                             	
                                        {{ post.data.title }}
                                   {% else %}
                                        Untitled
                                   {% endif %}
                              </a>
                         </h2>
                         <p class="meta-entry">
                              <time datetime="{{ post.date | machineDate }}">
                                   <span class="post-date">                    
                                        {{ post.date | readableDate }}
                                   </span>
                              </time>
                              <span class="author">
                                   by <strong>{{ metadata.author.name }}</strong>
                              </span>
                         </p>
                    </li>
                    {%endif%}
               {% endfor %}       
               </ul>           
          </div>               
     </div>
</section>
