<nav id="topmenu">

</nav>
<nav class="main-nav">
	<a class="mobile-menu-bttn" href="javascript:void(0)">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>

	<a href="https://www.dewa88.com/" class="main-nav-logo"></a>

	<div class="main-nav-menu">
		<!-- Main Nav Menu -->
		<ul class="main-nav-menu-list">
            <li class="main-nav-menu-item">
                <li >
                <a href="{{ item.url | safe }}" {% if page.url == item.url %} data-current="current item"{% endif %}>{{ item.label }}</a>
                </li>
            {%- endfor -%}
		</ul>
				<!-- support mobile link -->
	</div>
</nav>