<nav id="menumob">
    <div class="logo2">
         <a href="{{ '/' | url }}">{{ site.title }}</a>
    </div>
    <div id="burgerBtn"></div>
    <ul id="nav">
    {% for item in navigation.main %}
        <li>
            <a href="{{ item.url | safe }}" {% if page.url == item.url %} data-current="current item"{% endif %}>{{ item.label }}</a>
        </li>
    {%- endfor -%}
    </ul>
</nav>

