<div class="search">
        <form role="search">
            <div class="form-group">
                <input type="text" autocomplete="off" class="form-control input-lg" id="txt-search" placeholder="Kata pencarian anda ...">
                <div class="icon-search"></div>
            </div>
        </form>
        <div id="filter-records"></div>
</div>

<script>
function loadJSON(callback) {   
    var xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
    xobj.open('GET', '../../search.json', true); 
    xobj.onreadystatechange = function () {
          if (xobj.readyState == 4 && xobj.status == "200") {
            callback(xobj.responseText);
          }
    };
    xobj.send(null);  
 }

$(document).ready(function(){

loadJSON(function(response) {
    var actual_JSON = JSON.parse(response);
	data = actual_JSON;
 });

$('#txt-search').keyup(function(){
	var searchField = $(this).val();
	if(searchField === '')  {
		$('#filter-records').html('');
		return;
	}
	var url='https://www.duniamalam88.com';
	var regex = new RegExp(searchField, "i");
	var output = '<article class="row" role="search" aria-label="Search">';
	var count = 1;
		$.each(data, function(key, val){
				if ((val.index.search(regex) != -1) || (val.title.search(regex) != -1)) {
                output += '<section aria-label="'+ val.title + '" class="gallery">';
                output += '<a href="'+url+val.url+'">';
                if (val.thumbnail.length == 0)
                    output += '<img  src="'+url+'/static/img/no-image.png" alt="thumbnail">';
                else
                    output += '<img  src="'+url+val.thumbnail+'" alt="thumbnail">';
                output += '<div class="listgalery">';
                output += '<h2>'+val.title+'</h2>';
                output += '<p class="summ">'+val.index+'</p>';
                output += '</div></a></section>';
				count++;
			}
		});
		output += '</article>';
		$('#filter-records').html(output);
	});
});
</script>