<div class="search">
    <div class="wrapper">
        <form role="form">
            <div class="form-group">
                <input type="input" class="form-control input-lg" id="txt-search" placeholder="Type your search character">
            </div>
        </form>
    </div>
</div>