    <div class="rslides_container">     
     
        <ul class="rslides" id="slider1">
          <li><img src="{{ '/' | url }}static/img/banner1.jpg" alt="Eksotik Dunia Malam"></li>
          <li><img src="{{ '/' | url }}static/img/banner2.jpg" alt="Gemerlap Dunia Malam"></li>
          <li><img src="{{ '/' | url }}static/img/banner3.jpg" alt="Meriah Dunia Malam"></li>
        </ul>

    </div>

