    <div class="rslides_container">     
     
        <ul class="rslides" id="slider1">
          <li><img src="{{ '/' | url }}static/img/banner4.jpg" alt="Hiburan Dunia Malam"></li>
          <li><img src="{{ '/' | url }}static/img/banner5.jpg" alt="Gemerlap Dunia Malam"></li>
          <li><img src="{{ '/' | url }}static/img/banner6.jpg" alt="Wisata Dunia Malam"></li>
          <li><img src="{{ '/' | url }}static/img/banner7.jpg" alt="Kuliner Dunia Malam"></li>
        </ul>

    </div>

