<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="id">

	{% include "components/head.njk" %}

	<body>

	<header>			
		{% include "components/nav.njk" %}
	</header>	
	<main>
		{{ layoutContent | safe }}
	</main>

	{% include "components/mfooter.njk" %}
	{% include "components/footer.njk" %}


    <script src="{{ '/' | url }}_includes/assets/js/menu.js"></script>

	{% if (analytics.google) %}
    {% include "components/googleanalytics.njk" %}
    {% endif %}

<!--Back-To-Top-->
<div>
    <div>
        <div id="back-to-top" class="">
            <span class="back-to-top-icon">&nbsp;</span> 
            <span class="back-to-top-text">Back To Top</span>
            <span id="back-to-top-Trigger">&nbsp;</span>
        </div>
    </div>
</div>

	</body>
</html>
