<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="id">

	{% include "components/head.njk" %}

	<body>

			<header>	
				{% include "components/header.njk" %}				
				{% include "components/nav.njk" %}
			</header>	
			<main>
				{{ layoutContent | safe }}
			</main>
			{% include "components/mfooter.njk" %}
			{% include "components/footer.njk" %}

	
</script>
	{% if (analytics.google) %}
    {% include "components/googleanalytics.njk" %}
    {% endif %}

	</body>
</html>
