---
layout: layouts/base.njk
section: contact
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg" alt="Kontak Kami DuniaMalam88.com">
<div  class="main-blok">
    <div class="wrapper">
        <h1>{{ title }}</h1>

        {{ layoutContent | safe }}

        {% include "components/form.njk" %}
    </div>
</div>