---
layout: layouts/base.njk
section: galeri
permalink: /galeri/index.html
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg" alt="Galeri Dunia Malam 88">
<div  class="main-blok">
    <div class="wrapper">
        <h1>{{ title }}</h1>
        {{ layoutContent | safe }}
        {% set galeryslist = collections.posts %}
        {% include "components/galeryslist.njk" %}
    </div>
</div>