---
layout: layouts/base.njk
section: home
---
<div class="slider">
    {% include "components/slider.njk" %}	
</div>
<div  class="main-blok">
    <div class="wrapper">
        {% include "components/iklan.njk" %}	
        {% include "components/search.njk" %}
        <div class="main-cont-left">
            <div class="cont-home">
                {{ layoutContent | safe }}
            </div>
            <div class="row">
                <div class="left-promo">
                    <a href="https://www.jokerdewa.com/" rel="nofollow noreferrer" target="_blank">
                        <img src="{{ '/' | url }}static/img/jokerdewa.jpg" alt="JokerDewa - Situs Poker Games Online" >
                    </a>
                </div>
                    <div class="left-promo">
                    <a href="https://www.indoprofile.com/" rel="nofollow noreferrer" target="_blank">
                        <img src="{{ '/' | url }}static/img/e-sports.gif" alt="IndoProfile.com - Situs E-Sports Indonesia" >
                    </a>
                </div>
            </div>
        </div>
        <div class="main-cont-right">
            {% include "components/contentright.njk" %}            
        </div>
    </div>
</div>
<script>
    $(function () {
      // Slideshow 1
        $("#slider1").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            maxwidth: 1200,
            namespace: "centered-btns"
        });
    });
</script>
