---
layout: layouts/base.njk
section: page
---
<img class="b-content" src="{{ '/' | url }}static/img/banner-content.jpg" alt="DuniaMalam88.com">
<div  class="main-blok">
    <div class="wrapper">
        <h1>{{ title }}</h1>
        {{ layoutContent | safe }}
    </div>
</div>